@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
}

.bgg{
    background-color: #FFFFFF;
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
}

body{
    transition: 900ms;
    position: relative;
}

.header{
    background-color: #FFFFFF;
    z-index: 1000;
    background-color: white;
    position: relative;

    &_container{
        max-width: 1090px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 21px 0;

        &_left{
            max-width: 544px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_navigation{
                max-width: 370px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 10;
                position: relative;

                &--opt{
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;

                    transition: 200ms;

                    & > a{
                        text-decoration: none;
                        color: #000000;
                        outline: none;
                    }

                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
        }

        &_right{
            max-width: 185px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_dark{
                position: relative;

                &--theme{
                    padding: 10px 20px;
                    border: none;
                    border-radius: 11px;
                    cursor: pointer;
                    background-color: #7A7A7A;
                }

                &--lightsvg{
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    cursor: pointer;
                    border-radius: 50%;
                }

                &--darksvg{
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    cursor: pointer;
                    opacity: 0;
                    border-radius: 50%;
                }
            }

            &--welcome{
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
                color: #000000;
            }
        }
    }



}


.ddm{
    max-width: 160px;
    width: 100%;
    border: 1.5px #000000 solid;
    border-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;

    position: absolute;
    top: -114px;
    left: 140px;
    display: none;
    z-index: 2 !important;
    transform: translate(0, 0); 
    transition: transform 1s ease-out;

    &_options{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        &_opt{
            padding: 10px 0;
            max-width: 160px;
            width: 100%;
            display: flex;
            justify-content: center;
            transition: 200ms;
            cursor: pointer;

            &--txt{
                margin: 0;

                & > a{
                    text-decoration: none;
                    color: #000000;
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                }
            }

            &:hover{
                background-color: #F1F1F1;
            }
        }
    }
}

//МОДАЛІЧКА ХЕЛОУ
.hi{
    max-width: 576px;
    width: 100%;
    background-color: white;
    border-radius: 20px;

    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &_container{
        max-width: 494px;
        width: 100%;
        margin: 0 auto;

        position: relative;

        &--cross{
            position: absolute;
            right: -11px;
            top: 30px;
            cursor: pointer;
        }

        &--hello{
            font-family: Inter;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 42px;
            padding-top: 46px;
            color: #000000;
        }

        &--req{
            font-family: Inter;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: #000000;
            margin: 0;
            padding-bottom: 18px;
            height: 15px;
        }

        &_form{
            max-width: 169px;
            width: 100%;
            margin: 0 auto;

            &--inp{
                border-radius: 20px;
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                padding: 10px 10px 10px 10px;
                width: 149px;
                border: none;
                outline: none;
                background-color: #D7D7D7;
                caret-color: purple;
                margin-bottom: 18px;
            }

            &--btn{
                max-width: 105px;
                background-color: #000000;
                padding: 10px 20px;
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #FFFFFF;
                border: none;
                border-radius: 20px;
                box-shadow: 3px 3px 0px 0px #00000040;
                margin: 0px 0 47px 32px;
                cursor: pointer;
            }
        }

        &--svg1{
            position: absolute;
            left: 0px;
            bottom: 129px;
        }

        &--svg2{
            position: absolute;
            left: 44px;
            bottom: 53px;
        }

        &--svg3{
            position: absolute;
            right: 44px;
            bottom: 53px;
        }

        &--svg4{
            position: absolute;
            right: 0px;
            bottom: 129px;
        }
    }
}

.red-placeholder{
    &::placeholder{
        color: red;
    }
}

//МОДАлІчКА ГУБАЙ
.god{
    max-width: 463px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: none;

    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &_container{
        max-width: 378px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        &--cross{
            position: absolute;
            right: -11px;
            top: 30px;
            cursor: pointer;
        }

        &--thx{
            font-family: Inter;
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            margin: 0;
            padding-top: 83px;
            padding-bottom: 138px;
        }

        &--svg1{
            position: absolute;
            left: 0px;
            bottom: 146px;
        }

        &--svg2{
            position: absolute;
            left: 44px;
            bottom: 70px;
        }

        &--svg3{
            position: absolute;
            right: 44px;
            bottom: 70px;
        }

        &--svg4{
            position: absolute;
            right: 0px;
            bottom: 146px;
        }
    }
}

// ДРІП ДЕУН МЕНЮ 
.showdropdown{
    display: block;
}

.animatedropdown{
    animation: dropmenu 0.15s linear forwards;

    @keyframes dropmenu{
        from{
            transform: translate(0, 0);
        }

        to{
            transform: translate(0, 115px);
        }
    }
}

.animatedropup{
    animation: upmenu 0.15s linear forwards;

    @keyframes upmenu{
        from{
            transform: translate(0, 115px);
        }

        to{
            transform: translate(0, -115px);
        }
    }
}


// ТІМА
.light-right{
    animation: light-right 0.15s linear forwards;

    @keyframes light-right{
        from{
            transform: translate(0, 0) rotate(0deg);
            opacity: 1;
        }

        to{
            transform: translate(20px, 0) rotate(180deg);
            opacity: 0;
        }
    }
}

.dark-right{
    animation: dark-right 0.15s linear forwards;

    @keyframes dark-right{
        from{
            transform: translate(0, 0) rotate(180deg);
            opacity: 0;
        }

        to{
            transform: translate(20px, 0) rotate(360deg);
            opacity: 1;
        }
    }
}

.light-left{
    animation: light-left 0.15s linear forwards;

    @keyframes light-left{
        from{
            transform: translate(20px, 0) rotate(-180deg);
            opacity: 0;
        }

        to{
            transform: translate(0px, 0) rotate(-360deg);
            opacity: 1;
        }
    }
}

.dark-left{
    animation: dark-left 0.15s linear forwards;

    @keyframes dark-left{
        from{
            transform: translate(20px, 0) rotate(0deg);
            opacity: 1;
        }

        to{
            transform: translate(0, 0) rotate(-180deg);
            opacity: 0;
        }
    }
}


// -------------MAIN-------------
main{
    background-image: url(imgs/Group\ 141.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    z-index: 1;
}

.popgames{
    font-family: Montserrat Alternates;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
}


// YEAR
.year{
    max-width: 576px;
    width: 100%;
    margin: 0 auto;

    position: relative;
    padding-bottom: 32px;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 536px;
        height: 1px;
        background: var(--before-bg);
    }

    &--title{
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    &_container{
        max-width: 576px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_form{
            max-width: 215px;
            width: 100%;
            max-height: 35px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            box-shadow: 3px 3px 0px 0px #00000040;

            &--inp{
                // max-width: 180px;
                width: 160px;
                padding: 10px;
                background-color: #D7D7D7;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: none;
                outline: none;

                
                &::placeholder{
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #7E7E7E;
                }
            }

            &--btn{
                background-color: #000000;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border: none;
                padding: 17.5px;
                cursor: pointer;

                box-sizing: border-box;

                position: relative;

                &--svg{
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
            }
        }

        &_result{
            max-width: 230px;
            width: 100%;

            &--txt{
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
            }
        }
    }
}


//ГЕЗЕНАБМЕР
.num{
    max-width: 576px;
    width: 100%;
    margin: 0 auto;

    position: relative;
    padding-bottom: 32px;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 536px;
        height: 1px;
        background: var(--before-bg);
    }

    &--title{
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    &_container{
        max-width: 576px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_form{
            max-width: 150px;
            width: 100%;
            max-height: 35px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            box-shadow: 3px 3px 0px 0px #00000040;

            &--inp{
                // max-width: 180px;
                width: 95px;
                padding: 10px;
                background-color: #D7D7D7;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: none;
                outline: none;

                
                &::placeholder{
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #7E7E7E;
                }
            }

            &--btn{
                background-color: #000000;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border: none;
                padding: 17.5px;
                cursor: pointer;

                box-sizing: border-box;

                position: relative;

                &--svg{
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
            }
        }

        &_result{
            max-width: 230px;
            width: 100%;

            &--txt{
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
            }
        }
    }
}


// КАМІНЬ-НОЖНИЦІ-ПЕЙПЕР
.ksp{
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 36px;

    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 536px;
        height: 1px;
        background: var(--before-bg);
    }

    &--title{
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        padding-top: 36px;
        padding-bottom: 36px;
        text-align: center;
    }

    &_container{
        max-width: 650px;
        width: 100%;
        display: flex;
        justify-content: right;
        padding-bottom: 36px;

        &_var{
            max-width: 256px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--btn{
                background-color: #000000;
                border-radius: 20px;
                cursor: pointer;
                position: relative;
                padding: 30px;
                border: none;

                & > img{
                    position: absolute;
                    left: 10px;
                    top: 10px;
                }
            }
        }

        &_res{
            padding-left: 104px;

            &--res{
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 170%;
                letter-spacing: 0%;
                color: #000000;
            }
        }
    }

    &--wl{
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        padding-bottom: 36px;
    }

    &_wtch{
        display: flex;
        justify-content: center;

        &--btn{
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #FFFFFF;
            background-color: #000000;
            border-radius: 20px;
            padding: 10px 20px;
            border: none;
            height: 35px;
            cursor: pointer;
        }
    }
}


//КАЛЬКУЛЄЙТОР
.calc{
    padding-bottom: 36px;

    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 536px;
        height: 1px;
        background: var(--before-bg);
    }

    &--title{
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    &_container{
        max-width: 629px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > input{
            background-color: #D7D7D7;
            padding: 10px 20px;
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            border: none;
            max-width: 95px;
            border-radius: 20px;
            box-shadow: 3px 3px 0px 0px #00000040;
            outline: none;

            &::placeholder{
                color: #7E7E7E;
            }
        }

        &_operations{
            max-width: 62px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            & > button{
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                padding: 5px 10px;
                background-color: #000000;
                border-radius: 20px;
                box-shadow: 3px 3px 0px 0px #00000040;
                cursor: pointer;
                border: none;
                color: #FFFFFF;
                transition: 100ms;

                &:hover{
                    background-color: #3e8e41;
                }

                &:active{
                    transform: translate(1px, 1px);
                    box-shadow: 2px 2px 0px 0px #00000040;
                }
            }
        }

        & > button{
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            padding: 5px 10px;
            background-color: #000000;
            border-radius: 20px;
            box-shadow: 3px 3px 0px 0px #00000040;
            cursor: pointer;
            border: none;
            color: #FFFFFF;
            transition: 100ms;

            &:hover{
                background-color: #3e8e41;
            }

            &:active{
                transform: translate(1px, 1px);
                box-shadow: 2px 2px 0px 0px #00000040;
            }
        }
    }
}


//CALCULEYTOR TAYMA(CHASU)
.time{
    padding-bottom: 36px;

    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 536px;
        height: 1px;
        background: var(--before-bg);
    }

    &--title{
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    &_container{
        max-width: 392px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 70px;

        &_form{
            max-width: 150px;
            width: 100%;
            max-height: 35px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            box-shadow: 3px 3px 0px 0px #00000040;

            &--inp{
                // max-width: 180px;
                width: 95px;
                padding: 10px;
                background-color: #D7D7D7;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: none;
                outline: none;

                
                &::placeholder{
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #7E7E7E;
                }
            }

            &--btn{
                background-color: #000000;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border: none;
                padding: 17.5px;
                cursor: pointer;

                box-sizing: border-box;

                position: relative;

                &--svg{
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
            }
        }

        &--res{
            max-width: 76px;
            width: 100%;
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }
}





//the biggest of three nums is - :-) ?
.tnums{
    padding-bottom: 36px;

    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 536px;
        height: 1px;
        background: var(--before-bg);
    }

    &--title{
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    &_container{
        max-width: 481px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 36px;

        &--inp{
            padding: 10px 20px;
            border-radius: 20px;
            background-color: #D7D7D7;
            outline: none;
            border: none;
            width: 95px;
            box-shadow: 3px 3px 0px 0px #00000040;

            &::placeholder{
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #7E7E7E;
            }
        }
    }

    &--res{
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }
}




//footer
.footer{

    &_container{
        max-width: 1090px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 61px;
        padding-bottom: 59px;
        align-items: center;
        
        &_info{


            &--txt{
                max-width: 207px;
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 170%;
                letter-spacing: 0%;
            }
        }

        &_sub{
            max-width: 347px;
            width: 100%;
            
            &_form{
                max-width: 347px;
                display: flex;
                justify-content: space-between;
                padding-bottom: 18px;

                &--inp{
                    width: 114px;
                    padding: 10px 80px 10px 10px;
                    background-color: #D7D7D7;
                    border: none;
                    outline: none;
                    border-radius: 20px;

                    &::placeholder{
                        font-family: Montserrat Alternates;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 12px;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }
                }

                &--btn{
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: white;
                    border: none;
                    border-radius: 20px;
                    padding: 10px;
                    cursor: pointer;
                    background-color: #000000;
                }
            }

            &--txt{
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 6px;
                line-height: 100%;
                letter-spacing: 0%;
            }
        }
    }
}